bg-img(img='main-bg.jpg')
.container
    header
        h2 Add new campaign
        
    div(ng-messages='$ctrl.message.show', ng-bind='$ctrl.message.text')
    form(ng-submit='$ctrl.submitCampaign(this)', name='addCampaignForm', novalidate)
        .panel
            section
                md-input-container.md-block
                    label Campaign name
                    input(name='campaignName', type='text', ng-model='$ctrl.campaign.name', required)
                    div.errors(ng-messages="addCampaignForm.campaignName.$error")
                        div(ng-message='required') Name is required
            
            hr
            section
                h4 Empire
                .row
                    .col-xs-12.col-sm-6.col-gt-sm-3
                        md-autocomplete(md-input-name='empireLogin', md-selected-item='$ctrl.campaign.empire.login', md-search-text='$ctrl.empireSearchText', md-items='user in $ctrl.users', md-item-text='user.email', md-floating-label='login')
                            md-item-template
                                span(md-highlight-text='$ctrl.empireSearchText') {{user.email}}
                    .col-xs-12.col-sm-6.col-gt-sm-3
                        md-input-container.md-block
                            label Player's name
                            input(name='empireName', type='text', ng-model='$ctrl.campaign.empire.player', required)
                            div.errors(ng-messages="addCampaignForm.empireName.$error")
                                div(ng-message='required') Name is required
                    .col-xs-12.col-sm-6.col-gt-sm-3
                        md-input-container.md-select-container.md-block
                            label Chosen imperial class set
                            md-select(name='empireClassSet', ng-model='$ctrl.campaign.empire.classSet', required)
                                md-option(ng-repeat='empireCard in $ctrl.empireClassCards | empireClassSetName', ng-bind='empireCard.classSet', value='{{empireCard.classSet}}')
                            div.errors(ng-messages="addCampaignForm.empireClassSet.$error", ng-show='addCampaignForm.$submitted')
                                div(ng-message='required') Class set is required
                    .col-xs-12.col-sm-6.col-gt-sm-3
                        md-input-container.md-select-container.md-block
                            label Chosen agenda sets
                            md-select(name='empireAgendaSets', ng-model='$ctrl.campaign.empire.agendaSets', multiple, required)
                                md-option(ng-repeat='empireCard in $ctrl.empireAgendaCards | empireAgendaSetName', ng-bind='empireCard.agendaSet', value='{{empireCard.agendaSet}}')
                            div.errors(ng-messages="addCampaignForm.empireAgendaSets.$error", ng-show='addCampaignForm.$submitted')
                                div(ng-message='required') Agenda sets are required
            hr
            section
                h4 Rebelion
                div(ng-repeat='rebel in $ctrl.campaign.rebelion')
                    h6 Player {{$index + 1}}
                    .row
                        .col-xs-12.col-sm-6.col-gt-sm-4
                            md-autocomplete(md-input-name='rebelLogin{{$index}}', md-selected-item='rebel.login', md-search-text='rebel.searchText', md-items='users in $ctrl.users', md-item-text='user.email', md-floating-label='login')
                                md-item-template
                                    span {{rebel.email}}
                        .col-xs-12.col-sm-6.col-gt-sm-4
                            md-input-container.md-block
                                label Player's name
                                input(name='rebelName{{$index}}', type='text', ng-model='rebel.player', required)
                                div.errors(ng-messages="addCampaignForm['rebelName' + $index].$error")
                                    div(ng-message='required') Name is required
                        .col-xs-12.col-sm-6.col-gt-sm-4
                            md-input-container.md-select-container.md-block
                                label Player's hero name
                                md-select(name='rebelHeroName{{$index}}', ng-model='rebel.hero', required)
                                    md-option(ng-repeat='hero in $ctrl.heroes', ng-bind='hero.name', value='{{hero.name}}')
                                div.errors(ng-messages="addCampaignForm['rebelHeroName' + $index].$error", ng-show='addCampaignForm.$submitted')
                                    div(ng-message='required') Hero is required
                div.btn-container
                    a.btn.btn-primary.btn-add(href='', ng-click='$ctrl.addRebelPlayer()', ng-if='$ctrl.campaign.rebelion.length < 4') Add rebel player
                    a.btn.btn-warn.btn-remove.btn-right(href='', ng-click='$ctrl.removeRebelPlayer()', ng-if='$ctrl.campaign.rebelion.length > 1') Remove last rebel player
            
            hr
            section.btn-container
                button.btn.btn-primary.btn-add Add campaign
                a.btn.btn-reset.btn-warn.btn-right(href='', ng-click='$ctrl.clearForm()') Reset
    a.btn(href='', back-button) Go back
            
        
