div(ng-messages='$ctrl.message.show', ng-bind='$ctrl.message.text')
form(ng-submit='$ctrl.submitCampaign()')
    div Campaign name
        input(type='text', placeholder='Campaign name', ng-model='$ctrl.campaign.name', required)
    
    div Empire
        span player
        input(type='text', placeholder='player login', ng-model='$ctrl.campaign.empire.login')
        input(type='text', placeholder='player name', ng-model='$ctrl.campaign.empire.player', required)
    p Chosen imperial class set
        select(ng-model='$ctrl.campaign.empire.classSet')
            option(ng-repeat='empireCard in $ctrl.empireClassCards | empireClassSetName', ng-bind='empireCard.classSet', value='{{empireCard.classSet}}')
    p Chosen agenda sets
        select(ng-model='$ctrl.campaign.empire.agendaSets', multiple)
            option(ng-repeat='empireCard in $ctrl.empireAgendaCards | empireAgendaSetName', ng-bind='empireCard.agendaSet', value='{{empireCard.agendaSet}}')
    
    div Rebelion
        p(ng-repeat='rebel in $ctrl.campaign.rebelion')
            span player
            input(type='text', placeholder='player login', ng-model='rebel.login')
            input(type='text', placeholder='player name', ng-model='rebel.player', required)
            
            span player's hero
            input(type='text', placeholder='player`s hero name', ng-model='rebel.hero', required)
        a(href='', ng-click='$ctrl.addRebelPlayer()', ng-if='$ctrl.campaign.rebelion.length < 4') Add Rebel player
        a(href='', ng-click='$ctrl.removeRebelPlayer()', ng-if='$ctrl.campaign.rebelion.length > 1') Remove Rebel player
    input(type='submit', value='Add campaign')
    input(type='reset', value='Reset', ng-click='$ctrl.clearForm()')
a.btn(href='', back-button) Go back
        
    
