.container
    div(ng-messages='$ctrl.message.show', ng-bind='$ctrl.message.text')
    form(ng-submit='$ctrl.submitCampaign()')
        .panel
            section
                h4 Campaign name
                md-input-container
                    input(type='text', placeholder='Campaign name', ng-model='$ctrl.campaign.name', required)
            
            hr
            section
                h4 Empire
                md-autocomplete(md-input-name='empireLogin', md-selected-item='$ctrl.campaign.empire.login', md-search-text='$ctrl.empireSearchText', md-items='user in $ctrl.users', md-item-text='user.email', md-floating-label='login')
                    md-item-template
                        span(md-highlight-text='$ctrl.empireSearchText') {{user.email}}
                //- input(type='text', placeholder='player login', ng-model='$ctrl.campaign.empire.login')
                md-input-container
                    label Player's name
                    input(type='text', ng-model='$ctrl.campaign.empire.player', required)
                md-input-container
                    label Chosen imperial class set
                    md-select(ng-model='$ctrl.campaign.empire.classSet')
                        md-option(ng-repeat='empireCard in $ctrl.empireClassCards | empireClassSetName', ng-bind='empireCard.classSet', value='{{empireCard.classSet}}')
                md-input-container
                    label Chosen agenda sets
                    md-select(ng-model='$ctrl.campaign.empire.agendaSets', multiple)
                        md-option(ng-repeat='empireCard in $ctrl.empireAgendaCards | empireAgendaSetName', ng-bind='empireCard.agendaSet', value='{{empireCard.agendaSet}}')
            
            hr
            section
                h4 Rebelion
                p(ng-repeat='rebel in $ctrl.campaign.rebelion')
                    md-autocomplete(md-input-name='rebelLogin{{$index}}', md-selected-item='rebel.login', md-search-text='rebel.searchText', md-items='users in $ctrl.users', md-item-text='user.email', md-floating-label='login')
                    //- input(type='text', placeholder='player login', ng-model='rebel.login')
                    md-input-container
                        label Player's name
                        input(type='text', ng-model='rebel.player', required)
                    md-input-container
                        label Player's hero name
                        md-select(ng-model='rebel.hero', required)
                            md-option(ng-repeat='hero in $ctrl.heroes', ng-bind='hero.name', value='{{hero.name}}')
                div.btn-container
                    a.btn(href='', ng-click='$ctrl.addRebelPlayer()', ng-if='$ctrl.campaign.rebelion.length < 4') Add Rebel player
                    a.btn.btn-warn(href='', ng-click='$ctrl.removeRebelPlayer()', ng-if='$ctrl.campaign.rebelion.length > 1') Remove Rebel player
            
            hr
            section.btn-container
                input.btn(type='submit', value='Add campaign')
                input.btn.btn-warn(type='reset', value='Reset', ng-click='$ctrl.clearForm()')
    a.btn(href='', back-button) Go back
            
        
