$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700|Oswald:300,400,700&subset=latin-ext);
@import '../bower_components/neat/app/assets/stylesheets/neat';

@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/main';

/**
 * App-wide Styles
 */
 body {
     background-color: $siteBgColor;
     height: auto;
 }

 *, *:after, *:before {
     box-sizing: border-box;
 }

// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin';
@import 'campaigns/add-campaign/add-campaign';
@import 'campaigns/add-mission/add-mission';
@import 'campaigns/campaign/campaign';
@import 'campaigns/mission/mission';
@import 'campaigns/my-campaigns/my-campaigns';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/navbar/navbar';
/* endinject */
