div.navbar(ng-controller='NavbarController')
    div.container
        a.navbar-brand(href='/', title='imperial assault')
            img(src='assets/images/logo-sm.png', title='logo')
        
        a.btn.btn-icon.btn-right.btn-mobile.icon(ng-click='nav.toggleMenu()')
            i.fa.fa-bars
        ul.nav-mobile.menu-list(ng-class='{"nav-open": nav.isMenuOpen}')
            li(ng-if='nav.isAdmin()', ui-sref-active='active')
                a(ui-sref='admin') Admin
            li(ng-if='!nav.isLoggedIn()', ui-sref-active='active')
                a(ui-sref='signup') Sign up
            li(ng-if='!nav.isLoggedIn()', ui-sref-active='active')
                a(ui-sref='login') Login
            li(ng-show='nav.isLoggedIn()', ui-sref-active='active')
                a(ui-sref='settings') Settings
            li(ng-show='nav.isLoggedIn()')
                a(ui-sref='logout') Logout
        
        ul.nav.navbar-right
            li.admin(ng-if='nav.isAdmin()', ui-sref-active='active')
                a(ui-sref='admin') Admin
            li.sign-up(ng-if='!nav.isLoggedIn()', ui-sref-active='active')
                a(ui-sref='signup') Sign up
            li.login(ng-if='!nav.isLoggedIn()', ui-sref-active='active')
                a(ui-sref='login') Login
            li.settings.icon(ng-show='nav.isLoggedIn()', ui-sref-active='active')
                a(ui-sref='settings', title='settings')
                    i.fa.fa-cog
            li.power-off.icon(ng-show='nav.isLoggedIn()')
                a(ui-sref='logout', title='logout')
                    i.fa.fa-power-off
