.navbar {
    height: $navbarHeight;
    border-bottom: 1px solid $navbarBorderColor;
    background-color: $navbarBg;
    // position: fixed;
    // top: 0;
    // width: 100%;
    // z-index: $navbarZindex;

    .navbar-brand {
        line-height: $navbarHeight;

        img {
            vertical-align: middle;
        }
    }

    .btn-mobile, .nav-mobile {
        @include respond-to('gt-xs') {
            display: none;
        };
    }

    .btn-mobile {
        line-height: $navbarHeight;

        i {
            font-size: 24px;
        }
    }

    .nav-mobile {
        position: absolute;
        right: 0;
        top: $navbarHeight;
    }

    .nav {
        margin: 0;
        padding: 0;

        @include respond-to('xs') {
            display: none;
        };

        > li {
            list-style: none;
            display: inline-block;

            > a {
                line-height: $navbarHeight;
                padding: 21px 15px;
            }

            + li {
                border-left: 1px solid $navbarBorderColor;
            }

            &.icon {
                i {
                    font-size: 24px;
                    transform-origin: 50% 50%;
                    -webkit-transform-origin: 50% 50%;
                }
            }

            &.settings {
                > a{
                    &:hover, &:focus {
                        i {
                            @extend .fa-spin;
                        }
                    }
                }
            }
        }
    }

    .navbar-right {
        float: right;
    }
}
