$themeName: '.md-imperial-theme';

md-input-container {
    min-height: 53px;

    &:not(.md-select-container) {
        margin-bottom: 0;
    }

    &#{$themeName} {
        .md-input {
            border-color: $inputBorderColor;
            background-color: $inputBgColor;
        }

        label {
            color: $inputPlaceholderColor;

            &:not(.md-no-float):not(._md-container-ignore) {
                padding-left: 10px;
            }
        }
    }

    ._md-placeholder {
        padding-left: 10px;
    }

    &.md-block {
        width: 100%;
    }
}

input::-webkit-textfield-decoration-container {
    padding-left: 10px;
}

md-select {
    &#{$themeName} {
        ._md-select-value {
            padding-left: 10px;
            background-color: $inputBgColor;

            &._md-select-placeholder {
                color: $inputPlaceholderColor;
            }
        }

    }
}

md-select-menu {
    &#{$themeName} {
        md-content {
            background-color: $selectDropdownBgColor;

            md-option {
                color: $selectDropdownTextColor;

                &:not([disabled]) {
                    &:focus, &:hover {
                        background-color: $selectDropdownHoverBgColor;
                    }
                }
            }
        }
    }
}

md-datepicker {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 18px 0;
    padding-right: 0;

    &.ng-empty {
        .md-datepicker-triangle-button .md-datepicker-expand-triangle {
            border-top-color: $inputPlaceholderColor;
        }
        md-icon {
            &#{$themeName} {
                color: $inputPlaceholderColor;
            }
        }
    }

    &:not(.ng-empty) {
        .md-datepicker-triangle-button .md-datepicker-expand-triangle {
            border-top-color: $inputTextColor;
        }
        md-icon {
            &#{$themeName} {
                color: $inputTextColor;
            }
        }
    }

    .md-datepicker-triangle-button {
        right: 5px;

        &.md-button.md-icon-button {
            top: auto;
        }
    }
}

#{$themeName} {
    .md-datepicker-button {
        flex-basis: 40px;
    }

    .md-datepicker-input-container {
        flex-basis: 100%;
        padding-left: 10px;
        padding-top: 8px;
        background-color: $inputBgColor;
    }

    &.ng-untouched {
        .md-datepicker-input-container.md-datepicker-invalid {
            border-color: $inputBorderColor;
        }
    }

    .md-datepicker-input {
        padding: 0;
        font-size: $textSize;
        color: $inputTextColor;

        &::-webkit-input-placeholder {
            color: $inputPlaceholderColor;
        }
    }
}

.md-button.md-icon-button {
    height: 36px;
}

/**
 * Datepicker
 **/
.md-datepicker-calendar-pane {
    border-width: 0;
}

.md-datepicker-calendar {
    background-color: $calendarBg;
}

#{$themeName} {
    .md-calendar-date {
        &.md-calendar-selected-date {
            &, &.md-focus {
                .md-calendar-date-selection-indicator {
                    color: $calendarTextHoverColor;
                }
            }
        }
    }

    .md-calendar-date-selection-indicator {
        border-radius: 0;

        &:hover {
            background-color: $calendarHoverBg;
            color: $calendarTextHoverColor;
        }
    }

    .md-calendar-date-disabled, .md-calendar-month-label-disabled {
        color: $calendarDisabledColor;
    }

    .md-calendar-day-header {
        background-color: $calendarHeaderBg;
        color: $calendarDayHeaderColor;
    }
}

.md-calendar tr:last-child td {
    border-color: $calendarDisabledColor;
}
