.btn {
    padding: $btnVerticalPadding $btnHorizontalPadding;
    text-decoration: none;
    display: inline-block;
    border: none;

    + .btn {
        margin-left: $btnSpacingBetween;
    }
}

.btn-icon {
    padding: 0 5px;
}

.btn-lg {
    padding: $btnLgVerticalPadding $btnLgHorizontalPadding;
    font-size: $bgLgTextSize;
}

.btn-right {
    float: right;

    + .btn-right {
        margin-left: 0;
        margin-right: $btnSpacingBetween;
    }
}

.btn-block {
    display: block;
    text-align: center;
}

.btn-default {
    @include btn($btnDefaultColor, $btnDefaultHoverColor, $btnDefaultTextColor);
}

.btn-primary {
    @include btn($btnPrimaryColor, $btnPrimaryHoverColor, $btnPrimaryTextColor);
}

.btn-warn {
    @include btn($btnWarnColor, $btnWarnHoverColor, $btnWarnTextColor);
}

.btn-info {
    @include btn($btnInfoColor, $btnInfoHoverColor, $btnInfoTextColor);
}

.btn-link {
    @include btn($btnLinkColor, $btnLinkHoverColor, $btnLinkTextColor, $btnLinkTextHoverColor);
}

%btn-icon {
    @extend .btn;
    position: relative;

    &:before {
        @extend .fa;
        position: relative;

    }
}

[back-button] {
    @extend %btn-icon;
    padding-left: 30px;
    padding-right: 0;

    &:before {
        @extend .fa-angle-left;
        left: -13px;
    }
}

.btn-add {
    @extend %btn-icon;

    &:before {
        @extend .fa-plus;
        left: -8px;
    }
}

.btn-list {
    @extend %btn-icon;

    &:before {
        @extend .fa-list-ul;
        left: -8px;
    }
}

.btn-reset {
    @extend %btn-icon;

    &:before {
        @extend .fa-refresh;
        left: -8px;
    }
}

.btn-end {
    @extend %btn-icon;

    &:before {
        @extend .fa-check;
        left: -8px;
    }
}

.btn-container {
    @include clearfix;
}
