*:focus {
    outline-color: $outlineColor;
}

input, select, textarea {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 1px solid $inputBorderColor;
    background-color: $inputBgColor;
    outline: none;
    padding: $inputVerticalPadding $inputHorizontalPadding;

    &:focus {
        outline: none;
        border-bottom-color: $inputFocusBorderColor;
        border-bottom-width: 1px;
    }
}

::-webkit-input-placeholder {
   color: $inputPlaceholderColor;
}

:-moz-placeholder { /* Firefox 18- */
   color: $inputPlaceholderColor;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $inputPlaceholderColor;
}

:-ms-input-placeholder {
   color: $inputPlaceholderColor;
}

form.ng-submitted {
    md-select {
        &.ng-invalid {
            md-select-value {
                border-bottom-color: $inputInvalidColor;

                &._md-select-value._md-select-placeholder {
                    color: $inputInvalidColor;
                }
            }
        }
    }
}

md-select {
    &[required] {
        ._md-select-value > span:not(._md-select-icon) {
            &:after {
                content: ' *';
                font-size: 13px;
                vertical-align: top;
            }
        }
    }
}

div.ng-hide.errors {
    width: 1px;
    height: 19px;
    display: block !important;
    opacity: 0;
}
