.glyphicon {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    width: 42px;
    height: 62px;
}

.glyphicon-settings {
    background-image: url('../assets/images/settings.png');

}

.glyphicon-power {
    background-image: url('../assets/images/power-button.png');
}
