.glyphicon {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 36px;
    height: 36px;

    &.glyphicon-lg {
        background-size: 24px;
        width: 42px;
        height: 62px;
    }

    &:hover {
        -webkit-filter: brightness(1.2);
        filter: brightness(1.2);
    }
}

.glyphicon-settings {
    background-image: url('../assets/images/settings-cog.png');

}

.glyphicon-power {
    background-image: url('../assets/images/power-button-sign.png');
}

.glyphicon-trash {
    background-image: url('../assets/images/dust-bin.png');
}

.glyphicon-pencil {
    background-image: url('../assets/images/edit-pen.png');
}

.glyphicon-user {
    background-image: url('../assets/images/man-user.png');
}

.glyphicon-calendar {
    background-image: url('../assets/images/monthly-calendar.png');
}

.glyphicon-eye {
    background-image: url('../assets/images/human-eye.png');
}
