.table-list {
    margin: 0 0 30px;
    padding: 0;

    > li {
        list-style: none;
        background-color: $listRowColor;
        border-top: 1px solid $listBorderColor;
        box-shadow: 0 4px 5px $listShadowColor;
        padding-left: $listTableHorizontalPadding;
        padding-right: $listTableHorizontalPadding;
        -webkit-transition: background 0.4s, border 0.4s, color 0.4s;
        transition: background 0.4s, border 0.4s, color 0.4s;

        &:hover {
            background-color: $listRowHoverColor;
            border-top-color: $listBorderHoverColor;
        }

        + li {
            margin-top: 8px;
        }

        > a {
            @include linkType($linkLightColor, $linkLightHoverColor);
            line-height: $listTableHeight;
        }
    }
}

.bullets-list {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        padding-left: 8px;

        &:before {
            @extend .fa;
            @extend .fa-caret-right;
            position: relative;
            left: -8px;
        }

        + li {
            margin-top: 5px;
        }
    }
}

.menu-list {
    margin: 0;
    padding: 0;
    transition: height 0.4s linear;
    height: 0;
    overflow: hidden;

    &.nav-open {
        height: 5 * 48px + 2px;
    }

    li {
        list-style: none;
        background-color: $navbarMenuBg;
        border-left: 1px solid $navbarMenuDividerColor;
        border-bottom: 1px solid $navbarMenuDividerColor;

        > a {
            padding: 15px 30px;
            min-width: 200px;
            display: inline-block;
        }
    }
}
