@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin linearGradient($topColor, $bottomColor) {
    background: $topColor;
    background: -moz-linear-gradient(top,  $topColor 0%, $bottomColor 100%);
    background: -webkit-linear-gradient(top,  $topColor 0%, $bottomColor 100%);
    background: linear-gradient(to bottom,  $topColor 0%, $bottomColor 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$topColor', endColorstr='$bottomColor',GradientType=0 );
}
