.panel {
    background-color: $panelBg;
    border: 1px solid $panelBorderColor;
    padding: $panelVerticalPadding ($panelHorizontalPadding/2);

    @include respond-to('gt-xs') {
        padding-left: $panelHorizontalPadding;
        padding-right: $panelHorizontalPadding;
    }
}
