.panel {
    background-color: $panelBg;
    border: 1px solid $panelBorderColor;
    padding: $panelVerticalPadding ($panelHorizontalPadding/2);
}

@media screen and (min-width: 600px) {
    .panel {
        padding-left: $panelHorizontalPadding;
        padding-right: $panelHorizontalPadding;
    }
}
