popup {

    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $popupOverlayBg;
        z-index: $navbarZindex + 100;
    }

    .popup {
        width: 350px;
        min-height: 140px;
        position: relative;
        top: calc((100% - 140px)/2);
        left: calc((100% - 350px)/2);
        background-color: $popupBg;
        border: 1px solid $popupBorderColor;
        padding: 20px;
    }
}
