html, body, input, button {
    font-family: $textFont;
    font-weight: normal;
    font-size: $textSize;
    color: $textColor;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $headingsFont;
    color: $headingsColor;
}

h1, .h1 {
    font-size: $h1Size;
    margin: 25px 0;
}

h2, .h2 {
    font-size: $h2Size;
    margin: 20px 0;
}

h3, .h3 {
    font-size: $h3Size;
    margin: 16px 0;
}

h4, .h4 {
    font-size: $h4Size;
    margin: 12px 0;
}

h5, .h5 {
    font-size: $h5Size;
    margin: 8px 0;
}

h6, .h6 {
    font-size: $h6Size;
    margin: 5px 0;
}

a {
    @include linkType;
    text-decoration: none;
}
