/**
 * Fonts
 **/
$textFont: 'Cuprum', sans-serif; // 400, 700
$headingsFont: 'Oswald', sans-serif; // 300, 400, 700

$textColor: #b5ad95;
$linkColor: #ffc000;
$linkHoverColor: #ffd248;
$linkLightColor: #b5ad95;
$linkLightHoverColor: #d5ccaf;
$headingsColor: #ffcd35;
$h1Size: 40px;
$h2Size: 30px;
$h3Size: 24px;
$h4Size: 20px;
$h5Size: 18px;
$h6Size: 16px;

$textSize: 16px;

/**
 * Main variables
 **/
$siteBgColor: #0f1010;
$hrColor: #35332d;

/**
 * navbar
 **/
$navbarBg: transparentize(#0f1010, 0.15);
$navbarHeight: 70px;
$navbarBorderColor: #35332d;
$navbarZindex: 1000;

/**
 * Forms
 **/
$inputVerticalPadding: 12px;
$inputHorizontalPadding: 10px;
$inputBgColor: transparentize(#323232, 0.65);
$inputBorderColor: #343025;
$inputFocusBorderColor: #796f53;
$inputPlaceholderColor: #615941;
$inputTextColor: #b5ad95;
$inputInvalidColor: #dd2c00;

// $selectDropdownBgColor: #ffc000;
// $selectDropdownHoverBgColor: #ffcd35;
// $selectDropdownTextColor: #070504;
$selectDropdownBgColor: #333026;
$selectDropdownHoverBgColor: transparentize(#494331, 0.5);
$selectDropdownTextColor: #bbb299;

$outlineColor: #ff5400;

/**
 * Messages
 **/
$messageSuccessBg: transparentize(#40B531, 0.05);
$messageSuccessBorder: transparentize(#3BC928, 0.05);
$messageSuccessColor: #f0f0f0;
$messageWarnBg: transparentize(#CCB731, 0.05);
$messageWarnBorder: transparentize(#E8CF2C, 0.05);
$messageWarnColor: #343434;
$messageErrorBg: transparentize(#910C1B, 0.05);
$messageErrorBorder: transparentize(#CF1329, 0.05);

/**
 * Buttons
 **/
$btnVerticalPadding: 12px;
$btnHorizontalPadding: 37px;
$btnLgVerticalPadding: 20px;
$btnLgHorizontalPadding: 57px;
$bgLgTextSize: 18px;
$btnSpacingBetween: 16px;
$btnDefaultColor: #211e16;
$btnDefaultHoverColor: #2a261c;
$btnDefaultTextColor: #b5ad95;
$btnPrimaryColor: #ffc000;
$btnPrimaryHoverColor: #ffd248;
$btnPrimaryTextColor: #101111;
$btnWarnColor: #2f0707;
$btnWarnHoverColor: #3c0f0f;
$btnWarnTextColor: #b5ad95;
$btnInfoColor: #0f1417;
$btnInfoHoverColor: #1A2429;
$btnInfoTextColor: #b5ad95;
$btnLinkColor: transparent;
$btnLinkHoverColor: transparentize(#fff, 0.95);
$btnLinkTextColor: #ffc000;
$btnLinkTextHoverColor: #ffd248;

/**
 * Lists
 **/
$listRowColor: #322e22;
$listRowHoverColor: #494331;
$listHeaderColor: #57503B;
$listHeaderBorderColor: #807864;
$listBorderColor: #544f40;
$listBorderHoverColor: #807864;
$listShadowColor: transparentize(#000, 0.25);
$listTableHeight: 56px;
$listTableHeaderHeight: 36px;
$listTableHorizontalPadding: 21px;
$navbarMenuDividerColor: #35332d;
$navbarMenuBg: transparentize(#000, 0.05);

/**
 * Panels
 **/
$panelBg: transparentize(#000, 0.5);
$panelBorderColor: #494331;
$panelVerticalPadding: 33px;
$panelHorizontalPadding: 47px;

/**
 * Calendar
 **/
$calendarBg: #333026;
$calendarHoverBg: #ffd248;
$calendarTextHoverColor: #070504;
$calendarDisabledColor: #615941;
$calendarHeaderBg: #262218;
$calendarDayHeaderColor: #b5ad95;

/**
 * Campaign details
 **/
$campaignWinnerColor: #5a5445;
$campaignWinnerHoverColor: #746e5c;
$campaignWinnerTextSize: 24px;
