/**
 * Fonts
 **/
$newCuprumFont: 'Cuprum', sans-serif;
$newArchivoFont: 'Archivo Narrow', sans-serif;
$newExoFont: 'Exo', sans-serif;
$newCycleFont: 'News Cycle', sans-serif;

$textColor: #b2babe;
$linkColor: #57a1de;
$linkHoverColor: #62b8ff;
$headingsColor: #d1dbe0;
$inputColor: #d1dbe0;
$inputPlaceholderColor: #416a8c; //#787d80;

$textSize: 14px;

/**
 * Main variables
 **/
$siteBgColor: #171b1e;
$hrColor: #384349;

/**
 * Forms
 **/
 $inputBorderColor: #416a8c;
 $inputInvalidColor: #dd2c00;

/**
 * Buttons
 **/
$btnBgTop: #292b2c;
$btnBgBottom: #262829;
$btnBorderColor: #404d53;
$btnBgTopFocused: #212938;
$btnBgBottomFocused: #1e2635;
$btnBorderColorFocused: #3a7998;
$btnBgTopWarn: #392324;
$btnBgBottomWarn: #372021;
$btnBorderColorWarn: #803d3e;
$btnBgTopWarnFocused: #4b2324;
$btnBgBottomWarnFocused: #482021;
$btnBorderColorWarnFocused: #d21d1e;

/**
 * Lists
 **/
$listBgTopColor: #2b2e2f;
$listBgBottomColor: #232526;
$listBgTopColorFocused: #373a3b;
$listBgBottomColorFocused: #303233;
$listBgTopColorHeader: #454748;
$listBgBottomColorHeader: #3e4040;
$listHeight: 45px;

/**
 * Panels
 **/
$panelBg: #1b2023;

/**
 * Calendar
 **/
$calendarDayHeaderBg: #4a7ca6;
$calendarDayHeaderColor: #d1dbe0;
$calendarDayHeaderShadowColor: #3e688b;
$calendarBg: #4a7ca6;
$calendarDayDisabledColor: #83a0b8;
$calendarHoverBg: #5584ab;
$calendarTodayBg: #3b6f9b;
$calendarHrColor: #7899b4;
