/**
 * Fonts
 **/
$newCuprumFont: 'Cuprum', sans-serif;
$newArchivoFont: 'Archivo Narrow', sans-serif;
$newExoFont: 'Exo', sans-serif;
$newCycleFont: 'News Cycle', sans-serif;

$textColor: #b2babe;
$linkColor: #57a1de;
$linkHoverColor: #62b8ff;
$headingsColor: #d1dbe0;
$inputColor: #d1dbe0;
$inputPlaceholderColor: #416a8c; //#787d80;

$textSize: 14px;

/**
 * Main variables
 **/
$siteBgColor: #171b1e;

/**
 * Forms
 **/
 $inputBorderColor: #416a8c;

/**
 * Buttons
 **/
$btnBgTop: #292b2c;
$btnBgBottom: #262829;
$btnBorderColor: #404d53;
$btnBgTopFocused: #212938;
$btnBgBottomFocused: #1e2635;
$btnBorderColorFocused: #3a7998;
$btnBgTopWarn: #392324;
$btnBgBottomWarn: #372021;
$btnBorderColorWarn: #803d3e;
$btnBgTopWarnFocused: #4b2324;
$btnBgBottomWarnFocused: #482021;
$btnBorderColorWarnFocused: #d21d1e;
