bg-img(img='main-bg.jpg')
.container
    header.panel
        p This is an application for saving campagin in progress fo boardgame Star Wars: Imperial Assault.
        p Application was created as substitution of paper log for this game, which can be found at the back of each campaign instruction rule book.

    #not-logged.btn-container(ng-if='!$ctrl.isLoggedIn()')
        a.btn.btn-primary.btn-block(ui-sref='login') Login
        a.btn.btn-default.btn-block(ui-sref='signup') Sing up
        
    #logged.btn-container(ng-if='$ctrl.isLoggedIn()')
        a.btn.btn-primary.btn-list.btn-block(ui-sref='my-campaigns') My campaigns
        a.btn.btn-default.btn-add.btn-block(ui-sref='add-campaign') Add new campaign
