.container
    header
        p This is an application for saving campagin in progress fo boardgame Star Wars: Imperial Assault.
        p Application was created as substitution of paper log for this game, which can be found at the back of each campaign instruction rule book.

    #not-logged(ng-if='!$ctrl.isLoggedIn()')
        a.btn(ui-sref='login') Login
        a.btn(ui-sref='signup') Sing up
        
    #logged(ng-if='$ctrl.isLoggedIn()')
        a.btn(ui-sref='my-campaigns') My campaigns
        a.btn(ui-sref='add-campaign') Add new campaign
