div(ng-messages='$ctrl.message.show', ng-bind='$ctrl.message.text')
form(ng-submit='$ctrl.submitMission()')
    p Mission`s name
        select(ng-model='$ctrl.mission.title')
            option(ng-repeat='mission in $ctrl.missionCards', ng-bind='mission.title', value='{{mission._id}}')
                input(ng-model='$ctrl.mission.missionType', value='{{mission.missionType}}', hidden)
    p Date of play
        input(type='date', placeholder='Date of play', ng-model='$ctrl.mission.playDate')
    div Empire
        p Exp gained in this mission
            input(type='number', placeholder='Exp gained after mission', ng-model='$ctrl.mission.empire.expInMission', value=0, min=0, max=4)
        p Influence gained in this mission
            input(type='number', placeholder='Influence gained after mission', ng-model='$ctrl.mission.empire.influenceInMission', value=0, min=0, max=4)
            
        p Influence after upgrade stage
            input(type='number', placeholder='Imperial influence', ng-model='$ctrl.mission.empire.influence', value=0, min=0, max=8)
        p Expirience after upgrade stage
            input(type='number', placeholder='Imperial exp', ng-model='$ctrl.mission.empire.exp', value=0, min=0, max=8)
    div Rebelion
        p Exp gained in this mission
            input(type='number', placeholder='Exp gained after mission', ng-model='$ctrl.mission.rebelion.expInMission', value=0, min=0, max=4)
        p Credits gained in this mission
            input(type='number', placeholder='Credits gained after mission', ng-model='$ctrl.mission.rebelion.creditsInMission', value=0, min=0, max=1000, step=50)
        p Rebels credits after upgrade stage
            input(type='number', placeholder='rebelion`s credits', ng-model='$ctrl.mission.rebelion.credits', min=0, max=3000, step=50)
        p Items possessed
            select(ng-model='$ctrl.mission.rebelion.itemsPossessed', multiple)
                option(ng-repeat='item in $ctrl.itemCards', ng-bind='item.title', value='{{item.title}}')
        p Items sold
            select(ng-model='$ctrl.mission.rebelion.itemsSold', multiple)
                option(ng-repeat='item in $ctrl.itemCards', ng-bind='item.title', value='{{item.title}}')
                
        div(ng-repeat='rebel in $ctrl.mission.rebelion.players')
            p player name
                span(ng-bind='rebel.player')
            p player`s hero
                span(ng-bind='rebel.hero')
            p hero`s Expirience after upgrade stage
                input(type='number', placeholder='hero`s exp', ng-model='rebel.exp', min=0, max=10)
            p hero`s class cards possessed after upgrade stage
                select(ng-repeat='hero in $ctrl.heroCards | heroClassCards:rebel.hero', ng-model='rebel.heroClassCards.possessed', multiple)
                    option(ng-repeat='card in hero.classCards', ng-bind='card.name', value='{{card.name}}')
                    
            p hero`s class cards sold
                select(ng-repeat='hero in $ctrl.heroCards | heroClassCards:rebel.hero', ng-model='rebel.heroClassCards.sold')
                    option(ng-repeat='card in hero.classCards', ng-bind='card.name', value='{{card.name}}')
        div Available side missions
            select(ng-model='$ctrl.mission.availableSideMissions', multiple)
                option(ng-repeat='mission in $ctrl.missionCards | sideMissions', ng-bind='mission.title', value='{{mission._id}}')
        div Next story mission
            select(ng-model='$ctrl.mission.nextStoryMission')
                option(ng-repeat='mission in $ctrl.missionCards | storyMissions', ng-bind='mission.title', value='{{mission._id}}')
        
    div Winner
        select(ng-model='$ctrl.mission.winner')
            option(value='empire') Empire
            option(value='rebelion') Rebelion
    input(type='submit', value='Add mission')
            
    
