bg-img(img='bg/main-bg.jpg')
.container
    header
        h2 Add new mission
    
    div(ng-messages='$ctrl.message.show', ng-bind='$ctrl.message.text')
    form(ng-submit='$ctrl.submitMission(this)', name='addMissionForm', novalidate)
        .panel
            section
                .row
                    .col-xs-12.col-sm-6.col-gt-sm-8
                        md-input-container.md-block
                            label Mission`s name
                            md-select(name='missionTitle' ng-model='$ctrl.mission._id', required)
                                md-option(ng-repeat='mission in $ctrl.missionCards | missionsAvailable:$ctrl.campaign.missions', ng-bind='mission.title', value='{{mission._id}}')
                            div.errors(ng-messages='addMissionForm.missionTitle.$error', ng-show='addMissionForm.$submitted')
                                div(ng-message='required') Mission name is required
                    .col-xs-12.col-sm-6.col-gt-sm-4
                        md-datepicker.md-block(name='missionDateOfPlay', md-placeholder='Date of play', ng-model='$ctrl.mission.playDate', md-open-on-focus, md-max-date='$ctrl.maxDatePlay' required)
                        div.validation-messages(ng-messages='addMissionForm.missionDateOfPlay.$error', ng-if='addMissionForm.$submitted')
                            div(ng-message='required') Date of play is required
                
                    .col-xs-12.col-gt-xs-6
                        md-input-container.md-block
                            label Available side missions
                            md-select(name='missionAvailableSideMissions', ng-model='$ctrl.mission.availableSideMissions', multiple)
                                md-option(ng-repeat='mission in $ctrl.missionCards | missionsAvailable:$ctrl.campaign.missions | sideMissions', ng-bind='mission.title', value='{{mission.title}}')
                    
                    .col-xs-12.col-gt-xs-6
                        md-input-container.md-block
                            label Next story mission
                            md-select(name='missionNextStoryMission', ng-model='$ctrl.mission.nextStoryMission', required)
                                md-option(ng-repeat='mission in $ctrl.missionCards | missionsAvailable:$ctrl.campaign.missions | storyMissions', ng-bind='mission.title', value='{{mission.title}}')
                            div.errors(ng-messages='addMissionForm.missionNextStoryMission.$error', ng-show='addMissionForm.$submitted')
                                div(ng-message='required') Next story mission field is required
                            
                    .col-12  
                        md-input-container.md-block
                            label Winner
                            md-select(name='missionWinner', ng-model='$ctrl.mission.winner', required)
                                md-option(value='empire') Empire
                                md-option(value='rebelion') Rebelion
                            div.errors(ng-messages='addMissionForm.missionWinner.$error', ng-show='addMissionForm.$submitted')
                                div(ng-message='required') Winner field is required
            hr
            section
                h4 Empire
                .row
                    .col-xs-12.col-sm-6.col-gt-sm-6
                        md-input-container.md-block
                            section.mission-row(layout='row')
                                span.label(flex='50', flex-gt-sm='30') Exp gained in this mission
                                span.value(flex='50', flex-gt-sm='70', ng-bind='$ctrl.mission.empire.expInMission | emptyField')
                    .col-xs-12.col-sm-6.col-gt-sm-6
                        md-input-container.md-block
                            label Expirience after upgrade stage
                            input(name='missionEmpireExp', type='number', ng-model='$ctrl.mission.empire.exp', value=0, min=0, max=8, required)
                            div(ng-messages='addMissionForm.missionEmpireExp.$error')
                                div(ng-message='required') Expirience field is required
                    .col-xs-12.col-sm-6.col-gt-sm-6
                        md-input-container.md-block
                            section.mission-row(layout='row')
                                span.label(flex='50', flex-gt-sm='30') Influence gained in this mission
                                span.value(flex='50', flex-gt-sm='70', ng-bind='$ctrl.mission.empire.influenceInMission | emptyField')
                    .col-xs-12.col-sm-6.col-gt-sm-6
                        md-input-container.md-block
                            label Influence after upgrade stage
                            input(name='missionEmpireInfluence', type='number', ng-model='$ctrl.mission.empire.influence', value=0, min=0, max=8, required)
                            div(ng-messages='addMissionForm.missionEmpireInfluence.$error')
                                div(ng-message='required') Influence field is required
                    .col-xs-12.col-sm-12.col-gt-sm-12
                        md-input-container.md-block
                            label Empire allys
                            md-select(name='missionEmpireAllys', ng-model='$ctrl.mission.empire.allys', multiple)
                                md-option(ng-repeat='ally in $ctrl.allyCards | empireAllys', ng-bind='ally.name', value='{{ally.name}}')
                    .col-xs-12.col-sm-6.col-gt-sm-6 
                        md-input-container.md-block
                            label Class cards possessed
                            md-select(name='missionEmpireClassCards', ng-model='$ctrl.mission.empire.classCards', multiple, required)
                                md-option(ng-repeat='card in $ctrl.empireClassCards | empireClassSet:$ctrl.campaign.empire.classSet', ng-bind='card.name', value='{{card.name}}')
                            div.errors(ng-messages='addMissionForm.missionEmpireClassCards.$error', ng-show='addMissionForm.$submitted')
                                div(ng-message='required') Class cards field is required
                    .col-xs-12.col-sm-6.col-gt-sm-6 
                        md-input-container.md-block
                            label Agenda cards possessed
                            md-select(name='missionAgendaCards', ng-model='$ctrl.mission.empire.agendaCards', multiple)
                                md-option(ng-repeat='card in $ctrl.agendaCards | agendaSet:$ctrl.campaign.empire.agendaSets', ng-bind='card.name', value='{{card.name}}')
            hr
            section
                h4 Rebelion
                .row
                    .col-xs-12.col-sm-6.col-gt-sm-4
                        md-input-container.md-block
                            section.mission-row(layout='row')
                                span.label(flex='50', flex-gt-sm='30') Exp gained in this mission
                                span.value(flex='50', flex-gt-sm='70', ng-bind='$ctrl.mission.rebelion.expInMission | emptyField')
                    .col-xs-12.col-sm-6.col-gt-sm-4  
                        md-input-container.md-block
                            section.mission-row(layout='row')
                                span.label(flex='50', flex-gt-sm='30') Credits gained in this mission (without crates)
                                span.value(flex='50', flex-gt-sm='70', ng-bind='$ctrl.mission.rebelion.creditsInMission | emptyField')
                    .col-xs-12.col-sm-12.col-gt-sm-4 
                        md-input-container.md-block
                            label Rebels credits after upgrade stage
                            input(name='missionRebelCredits', type='number', ng-model='$ctrl.mission.rebelion.credits', min=0, max=3000, step=50, required)
                            div.errors(ng-messages='addMissionForm.missionRebelCredits.$error')
                                div(ng-message='required') Rebel credits field is required
                    .col-xs-12.col-sm-12.col-gt-sm-12
                        md-input-container.md-block
                            label Rebel allys
                            md-select(name='missionRebelAllys', ng-model='$ctrl.mission.rebelion.allys')
                                md-option(ng-repeat='ally in $ctrl.allyCards | rebelionAllys', ng-bind='ally.name', value='{{ally.name}}')
                    .col-xs-12.col-sm-6.col-gt-sm-6
                        md-input-container.md-block
                            label Items possessed
                            md-select(name='missionRebelItemsPossessed', ng-model='$ctrl.mission.rebelion.itemsPossessed', ng-model-option='{trackBy: "$value._id"}', multiple)
                                md-option(ng-repeat='item in $ctrl.itemCards | itemsPossessed:$ctrl.mission.rebelion.itemsSold', ng-bind='item.title', value='{{item._id}}')
                    .col-xs-12.col-sm-6.col-gt-sm-6
                        md-input-container.md-block
                            label Items sold
                            md-select(name='missionRebelItemsSold', ng-model='$ctrl.mission.rebelion.itemsSold', ng-model-option='{trackBy: "$value._id"}', multiple)
                                md-option(ng-repeat='item in $ctrl.itemCards | blockItemsSold:$ctrl.campaign.missions', ng-bind='item.title', value='{{item._id}}', disabled='{{item.sold}}')
            section.campaign-info 
                .row
                    .col-xs-12.col-gt-xs-6.player-tile-wrapper(ng-repeat='rebel in $ctrl.mission.rebelion.players')
                        section.player-tile(flex)
                            h6 Player {{$index + 1}}
                            div.campaign-row(layout='row')
                                span.hero-name {{rebel.hero}} 
                                    span(ng-if='rebel.player.name') ({{rebel.player.name}})
                            div.campaign-row.input-row(layout='row')
                                md-input-container.value.md-block(flex='100')
                                    label Hero`s expirience after upgrade stage
                                    input.value(name='missionRebelHeroExp{{$index}}', type='number', ng-model='rebel.exp', min=0, max=10, required)
                                    div.errors(ng-messages="addMissionForm['missionRebelHeroExp' + $index].$error")
                                        div(ng-message='required') Hero's expirience field is required
                            div.campaign-row.input-row(layout='row')
                                md-input-container.value.md-block(flex='100')
                                    label Hero`s class cards possessed after upgrade stage
                                    md-select(name='missionRebelHeroClassCardsPossessed{{$parent.$index}}', ng-repeat='hero in $ctrl.heroCards | heroClassCards:rebel.hero', ng-model='rebel.heroClassCards.possessed', multiple, required)
                                        md-option(ng-repeat='card in hero.classCards', ng-bind='card.name', value='{{card.name}}')
                                    div.errors(ng-messages="addMissionForm['missionRebelHeroClassCardsPossessed' + $index].$error", ng-show='addMissionForm.$submitted')
                                        div(ng-message='required') Hero's class cards field is required
                            div.campaign-row.input-row(layout='row')
                                md-input-container.value.md-block(flex='100')
                                    label Hero`s class cards sold
                                    md-select(name='missionRebelHeroClassCardsSold{{$parent.$index}}', ng-repeat='hero in $ctrl.heroCards | heroClassCards:rebel.hero', ng-model='rebel.heroClassCards.sold')
                                        md-option(ng-bind='', value='')
                                        md-option(ng-repeat='card in hero.classCards', ng-bind='card.name', value='{{card.name}}', ng-if='card.xpCost === 0')
            hr
            section.btn-container
                button.btn.btn-block.btn-primary.btn-add.btn-right(type='submit') Add mission
            
        a.btn(href='', back-button) Go back
