ul
    li(ng-repeat='campaign in $ctrl.campaigns')
        a(ui-sref='campaign({ id: campaign._id, campaign: campaign })', ng-bind='campaign.name')    
    li
        a(ui-sref='add-campaign') Add campaign
    
